$font-color: #EDF8F8;

@mixin titleStyle() {
  color: $font-color;
  font-weight: 500;
}

.cardList {
    width: 100%;
}

@media screen and (min-width: 240px) {
    .cardList {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 20px;
    }
    .cardListTitle {
      @include titleStyle();
      margin-bottom: 2rem;
      text-align: center;
    }
  }
  
  @media screen and (min-width: 825px) {
    .cardList {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      column-gap: 34px;
      margin-top: 5rem;
    }
    .cardListTitle {
      @include titleStyle();
      margin-top: 5rem;
      text-align:start;
    }
  }
  
  @media screen and (min-width: 1114px) {
    .cardList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      column-gap: 34px;
      margin-top: 5rem;
    }
    .cardListTitle {
      @include titleStyle();
      margin-top: 5rem;
      text-align:start;
    }
  }
