$font-color: #edf8f8;

@mixin spanDate($spanMargin) {
  display: flex;
  align-items: center;
  background: #5df49c26;
  box-shadow: 0px 0px 30px #0000002a;
  padding: 0px 20px;
  height: 25px;
  border-radius: 6px;
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  color: $font-color;
  margin: $spanMargin;
}

@mixin headerInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 240px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    .headerInfo {
        @include headerInfo();
      .devamSvg {
        height: 4.5rem;
        margin-right: 10px
      }
      .date {
        @include spanDate(0px);
      }
    }
  }
}

@media screen and (min-width: 570px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    .headerInfo {
        @include headerInfo();
      .devamSvg {
        height: 4.5rem;
      }
      .date {
        @include spanDate(auto);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    .headerInfo {
        @include headerInfo();
      .devamSvg {
        height: 4.5rem;
      }
      .date {
        @include spanDate(auto);
      }
    }
  }
}